.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-flow: column;
    align-items: center;
    height:100%;    
}

.SpacingNav{
    margin: 10px;
}

.VerticalLine{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 10px 10px 0;
    height: 15px;
}

@media (min-width: 500px){
    .NavigationItems {
        flex-flow: row;
    }
}